img {
  display: block;
  margin: 10px;
}

.text {
  font-size: 16px;
  color: blueviolet;
}
.cat-info {
  display: flex;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.unvisible {
  display: none;
}
.breed-select {
  width: 200px;
}
p.loader,
p.error {
  display: none;
}
